
<!DOCTYPE html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> I am {{ user.member }}</h3>
				<!-- Show Admin button if user has member is Admin -->
				{% if ( user.member  == 'Admin') %}
				<a href='/admin' class="btn btn-warning btn-sm pull-right">Admin Page</a>
				{% endif %}

					<!-- list user information -->
					<p>
						<strong>id</strong>: {{ user.id }}<br>
						<strong>email</strong>: {{ user.username }} <br>
						<strong>password</strong>: {{ user.password }} <br>
						<strong>dob</strong>: {{user.dob}} <br>
						<strong>phone</strong>: {{user.phone}} 
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
